<footer class="footer">
  <p><a href="http://github.com/gaearon" target="_blank">Dan Abramov</a> builds <a href="http://stampsy.com/" target="_blank">Stampsy</a> and <a href="http://twitter.com/dan_abramov" target="_blank">tweets</a>.</p>

  <p>Logo based on a <a href="http://codepen.io/joshy/details/cojbD" target="_blank">Pen</a> by <a href="http://twitter.com/_joshhillier/" target="_blank">Josh Hillier</a>.</p>

  <p>React example adapted from <a href="http://tutorialzine.com/2014/07/5-practical-examples-for-learning-facebooks-react-framework/" target="_blank">Tutorialzine article</a> by Martin Angelov.</p>

  <p>Artisan-crafted bespoke design by <a href="http://kkga.me/" target="_blank">Gadzhi Kharkharov</a>.</p>
</footer>
